services:
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    volumes:
      - ./data:/var/www/html
    networks:
      - proxy_net
    restart: unless-stopped

networks:
  proxy_net:
    external: true
