services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ./media:/media
    networks:
      - proxy_net
    restart: unless-stopped

networks:
  proxy_net:
    external: true
